body {
    background-color: lightblue
}

#score {
    font-size: xx-large;
    color: blue;
    font-weight: bold;
}

#records {
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

#countdown {
    font-size: xx-large;
    color: green;
    font-weight: bold;
}

#taken {
    font-size: xx-large;
    color: red;
    font-weight: bold;
}